<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PEST & SWOT</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh5AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>

  <body style="padding: 20px">
    {% comment %} PEST {% endcomment %}
    <div class="row" style="margin-top: 30px">
      <h5 style="margin-left: 10px">
        PEST analysis describes a framework of macro-environmental factors used in the environmental scanning component of strategic management.
      </h5>
      {% comment %} Politic {% endcomment %}
      <div class="col-md-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Polities</h5>
            <p class="card-text">
              Political factors relate to how the government intervenes in the
              economy. Specifically, political factors have areas including tax
              policy, labour law, environmental law, trade restrictions,
              tariffs, and political stability.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            {% for p in politic_list %}
            <li class="list-group-item">
              {{forloop.counter}}. {{ p.politics }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <br>
      </div>
      {% comment %} Economics {% endcomment %}
      <div class="col-md-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Economics</h5>
            <p class="card-text">
              factors include economic growth, exchange rates, inflation rate,
              and interest rates. These factors can drastically effect how a
              business operates.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            {% for e in economic_list %}
            <li class="list-group-item">
              {{forloop.counter}}. {{ e.economics }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <br>
      </div>
      {% comment %} Socials {% endcomment %}
      <div class="col-md-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Socials</h5>
            <p class="card-text">
              factors include the cultural aspects and health consciousness,
              population growth rate, age distribution, career attitudes and
              emphasis on safety. High trends in social factors affect the
              demand for a company's products and how that company operates.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            {% for s in social_list %}
            <li class="list-group-item">
              {{forloop.counter}}. {{ s.socials }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <br>
      </div>
      {% comment %} Technologies {% endcomment %}
      <div class="col-md-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Technologies</h5>
            <p class="card-text">
              factors include technological aspects like R&D activity,
              automation, technology incentives and the rate of technological
              change. These can determine barriers to entry, minimum efficient
              production level and influence the outsourcing decisions.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            {% for t in technology_list %}
            <li class="list-group-item">
              {{forloop.counter}}. {{ t.technologies }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <br>
    </div>

    {% comment %} SWOT {% endcomment %}
    <div class="row" style="margin-top: 30px">
      <h5 style="margin-left: 10px">
        SWOT analysis is a strategic planning technique used to help a person or organization identify strengths, weaknesses, opportunities, and threats related to business competition or project planning.
      </h5>
      {% comment %} Strengths {% endcomment %}
      <div class="col-md-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Strengths</h5>
            <p class="card-text">
              Strengths are internal, positive attributes of your company. These
              are things that are within your control.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            {% for s in strength_list %}
            <li class="list-group-item">
              {{forloop.counter}}. {{ s.strengths }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <br>
      </div>
      {% comment %} Weaknesses {% endcomment %}
      <div class="col-md-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Weaknesses</h5>
            <p class="card-text">
              Weaknesses are negative factors that detract from your strengths.
              These are things that you might need to improve on to be
              competitive.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            {% for w in weakness_list %}
            <li class="list-group-item">
              {{forloop.counter}}. {{ w.weaknesses }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <br>
      </div>
      {% comment %} Opportunities {% endcomment %}
      <div class="col-md-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Opportunities</h5>
            <p class="card-text">
              Opportunities are external factors in your business environment
              that are likely to contribute to your success.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            {% for o in opportunity_list %}
            <li class="list-group-item">
              {{forloop.counter}}. {{ o.opportunities }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <br>
      </div>
      {% comment %} Threads {% endcomment %}
      <div class="col-md-3">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Threads</h5>
            <p class="card-text">
              Threats are external factors that you have no control over. You
              may want to consider putting in place contingency plans for
              dealing with them if they occur.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            {% for t in thread_list %}
            <li class="list-group-item">
              {{forloop.counter}}. {{ t.threads }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <br>
      </div>
    </div>
  </body>
</html>
